[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
beanie = "*"
python-dotenv = "*"
pyyaml = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = "*"
bcrypt = "*"
pyjwt = "*"
openai = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
start = "uvicorn src.app:app --port 8000 --reload"
